Service References/EnroladorWebServices/EnroladorWebServices33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Enrolador.DataAccessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Enrolador.DataAccessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50119/EnroladorWebServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfServicioCasino">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicioCasino" nillable="true" type="tns:ServicioCasino" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicioCasino" nillable="true" type="tns:ArrayOfServicioCasino" />
  <xs:complexType name="ServicioCasino">
    <xs:sequence>
      <xs:element name="_x003C_Casino_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Nombre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Oid_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Vigente_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioCasino" nillable="true" type="tns:ServicioCasino" />
  <xs:complexType name="ArrayOfTurnoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TurnoServicio" nillable="true" type="tns:TurnoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTurnoServicio" nillable="true" type="tns:ArrayOfTurnoServicio" />
  <xs:complexType name="TurnoServicio">
    <xs:sequence>
      <xs:element name="_x003C_HoraFin_x003E_k__BackingField" type="ser:duration" />
      <xs:element name="_x003C_HoraInicio_x003E_k__BackingField" type="ser:duration" />
      <xs:element name="_x003C_Nombre_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Oid_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Servicio_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Vigente_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TurnoServicio" nillable="true" type="tns:TurnoServicio" />
  <xs:complexType name="ArrayOfEmpleadoTurnoServicioCasino">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpleadoTurnoServicioCasino" nillable="true" type="tns:EmpleadoTurnoServicioCasino" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleadoTurnoServicioCasino" nillable="true" type="tns:ArrayOfEmpleadoTurnoServicioCasino" />
  <xs:complexType name="EmpleadoTurnoServicioCasino">
    <xs:sequence>
      <xs:element name="_x003C_Empleado_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_TurnoServicio_x003E_k__BackingField" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoTurnoServicioCasino" nillable="true" type="tns:EmpleadoTurnoServicioCasino" />
  <xs:complexType name="ArrayOfPOCOEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POCOEmpleado" nillable="true" type="tns:POCOEmpleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPOCOEmpleado" nillable="true" type="tns:ArrayOfPOCOEmpleado" />
  <xs:complexType name="POCOEmpleado">
    <xs:sequence>
      <xs:element name="_x003C_Apellidos_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Contraseña_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Correo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EnrollId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ManejaCasino_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Nombres_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NumeroTelefono_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Oid_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_RUT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TieneContraseña_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POCOEmpleado" nillable="true" type="tns:POCOEmpleado" />
</xs:schema>