Service References/EnroladorWebServices/EnroladorWebServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50119/EnroladorWebServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TupleOfguidstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidstring" nillable="true" type="tns:TupleOfguidstring" />
  <xs:complexType name="TupleOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringstring" nillable="true" type="tns:TupleOfstringstring" />
  <xs:complexType name="ArrayOfTupleOfguidintstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidintstring" nillable="true" type="tns:TupleOfguidintstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidintstring" nillable="true" type="tns:ArrayOfTupleOfguidintstring" />
  <xs:complexType name="TupleOfguidintstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" type="xs:int" />
      <xs:element name="m_Item3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidintstring" nillable="true" type="tns:TupleOfguidintstring" />
  <xs:complexType name="ArrayOfTupleOfguidstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidstring" nillable="true" type="tns:TupleOfguidstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidstring" nillable="true" type="tns:ArrayOfTupleOfguidstring" />
  <xs:complexType name="ArrayOfTupleOfguidstringguid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidstringguid" nillable="true" type="tns:TupleOfguidstringguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidstringguid" nillable="true" type="tns:ArrayOfTupleOfguidstringguid" />
  <xs:complexType name="TupleOfguidstringguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
      <xs:element name="m_Item3" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidstringguid" nillable="true" type="tns:TupleOfguidstringguid" />
  <xs:complexType name="ArrayOfTupleOfguidstringstringintguid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidstringstringintguid" nillable="true" type="tns:TupleOfguidstringstringintguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidstringstringintguid" nillable="true" type="tns:ArrayOfTupleOfguidstringstringintguid" />
  <xs:complexType name="TupleOfguidstringstringintguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{4}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
      <xs:element name="m_Item3" nillable="true" type="xs:string" />
      <xs:element name="m_Item4" type="xs:int" />
      <xs:element name="m_Item5" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidstringstringintguid" nillable="true" type="tns:TupleOfguidstringstringintguid" />
  <xs:complexType name="ArrayOfTupleOfguidstringguidNullableOfdateTimeNrJYEgPU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidstringguidNullableOfdateTimeNrJYEgPU" nillable="true" type="tns:TupleOfguidstringguidNullableOfdateTimeNrJYEgPU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidstringguidNullableOfdateTimeNrJYEgPU" nillable="true" type="tns:ArrayOfTupleOfguidstringguidNullableOfdateTimeNrJYEgPU" />
  <xs:complexType name="TupleOfguidstringguidNullableOfdateTimeNrJYEgPU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
      <xs:element name="m_Item3" type="ser:guid" />
      <xs:element name="m_Item4" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidstringguidNullableOfdateTimeNrJYEgPU" nillable="true" type="tns:TupleOfguidstringguidNullableOfdateTimeNrJYEgPU" />
  <xs:complexType name="ArrayOfTupleOfguidintstringbooleanstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidintstringbooleanstringstring" nillable="true" type="tns:TupleOfguidintstringbooleanstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidintstringbooleanstringstring" nillable="true" type="tns:ArrayOfTupleOfguidintstringbooleanstringstring" />
  <xs:complexType name="TupleOfguidintstringbooleanstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{4}{5}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" type="xs:int" />
      <xs:element name="m_Item3" nillable="true" type="xs:string" />
      <xs:element name="m_Item4" type="xs:boolean" />
      <xs:element name="m_Item5" nillable="true" type="xs:string" />
      <xs:element name="m_Item6" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidintstringbooleanstringstring" nillable="true" type="tns:TupleOfguidintstringbooleanstringstring" />
  <xs:complexType name="ArrayOfTupleOfguidintguid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidintguid" nillable="true" type="tns:TupleOfguidintguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidintguid" nillable="true" type="tns:ArrayOfTupleOfguidintguid" />
  <xs:complexType name="TupleOfguidintguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" type="xs:int" />
      <xs:element name="m_Item3" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidintguid" nillable="true" type="tns:TupleOfguidintguid" />
  <xs:complexType name="ArrayOfTupleOfguidguid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidguid" nillable="true" type="tns:TupleOfguidguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidguid" nillable="true" type="tns:ArrayOfTupleOfguidguid" />
  <xs:complexType name="TupleOfguidguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidguid" nillable="true" type="tns:TupleOfguidguid" />
  <xs:complexType name="ArrayOfTupleOfguidguidguidguiddateTimeNullableOfdateTimeguidTupleOfstring2_P2_SPaFE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidguidguidguiddateTimeNullableOfdateTimeguidTupleOfstring2_P2_SPaFE" nillable="true" type="tns:TupleOfguidguidguidguiddateTimeNullableOfdateTimeguidTupleOfstring2_P2_SPaFE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidguidguidguiddateTimeNullableOfdateTimeguidTupleOfstring2_P2_SPaFE" nillable="true" type="tns:ArrayOfTupleOfguidguidguidguiddateTimeNullableOfdateTimeguidTupleOfstring2_P2_SPaFE" />
  <xs:complexType name="TupleOfguidguidguidguiddateTimeNullableOfdateTimeguidTupleOfstring2_P2_SPaFE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{4}{5}{6}{7}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="TupleOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" type="ser:guid" />
      <xs:element name="m_Item3" type="ser:guid" />
      <xs:element name="m_Item4" type="ser:guid" />
      <xs:element name="m_Item5" type="xs:dateTime" />
      <xs:element name="m_Item6" nillable="true" type="xs:dateTime" />
      <xs:element name="m_Item7" type="ser:guid" />
      <xs:element name="m_Rest" nillable="true" type="tns:TupleOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidguidguidguiddateTimeNullableOfdateTimeguidTupleOfstring2_P2_SPaFE" nillable="true" type="tns:TupleOfguidguidguidguiddateTimeNullableOfdateTimeguidTupleOfstring2_P2_SPaFE" />
  <xs:complexType name="TupleOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstring" nillable="true" type="tns:TupleOfstring" />
</xs:schema>